@model ProTrack.Models.Search.SearchResultModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<form asp-controller="Search" asp-action="Index" method="get">
    <p>
        Select Product: <select asp-for="productSearchString" asp-items="Model.Products">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="nameSearchString" />
        <button type="submit" class="btn">
            <i class="material-icons">search</i>
        </button>

        Email: <input type="text" name="emailSearchString" />
        <button type="submit" class="btn">
            <i class="material-icons">search</i>
        </button>
    </p>
</form>
@if (!Model.EmptySearchResults)
{
    <table class="table" id="deviceTable">
        <thead>
            <tr>
                <th>
                    Manufacturer
                </th>
                <th>
                    Model
                </th>
                <th>
                    Firmware
                </th>
                <th>
                    MAC Address
                </th>
                <th>
                    Location Name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Devices)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmware)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MacAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else if (@Model.EmptySearchResults)
{
    <div class="noResults">
        <i class="material-icons md-72">error</i>
        <h3>
            No search results found! <br />
        </h3>
    </div>

}
