@model ProTrack.Models.EndUser.EndUserEntryModel
@{
    ViewData["Title"] = "My Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Devices</h1>

<div class="row">
    <div class="col-md-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="GetDevices" method="post" id="locationForm">
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location</label>
                <select name="Id" asp-items="Model.LocationList" class="form-control" id="locationList">
                    <option selected="selected" disabled value="">Select</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <a asp-controller="Location" asp-action="Create" type="button" value="Create Location" class="btn btn-primary">Create New Location</a>
                </div>
            </div>
        </form>
        <form asp-action="Create" method="post" id="devicesForm">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="DeviceType" class="control-label">Device Type</label>
                    <select asp-for="DeviceType" asp-items="Model.DeviceTypeList" class="form-control" id="typeList">
                        <option selected="selected" disabled value="">Select</option>
                    </select>
                    <span asp-validation-for="DeviceType" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-md-8 form-group">
                    <label asp-for="Device" class="control-label">Device</label>
                    <select name="Id" class="form-control" id="deviceList">
                        <option selected="selected" disabled value="">Select Device Type...</option>
                    </select>
                    <span asp-validation-for="Device" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="submit" value="Add Device" id="addBtn" class="btn btn-primary" />
                </div>
                <div class="col-md-4 form-group">
                    <a asp-controller="Products" asp-action="Create" type="button" value="New Device"class="btn btn-primary">Create New Device</a>
                </div>
            </div>
            <input asp-for="LocationId" name="LocationId" id="deviceLocation" type="hidden" />
        </form>
    </div>
</div>

<table id="deviceTable">
    <thead>
        <tr>
            <th>
                Manufacturer
            </th>
            <th>
                Device
            </th>
            <th>
                Firmware
            </th>
            <th>
                MAC Address
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeviceList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firmware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var loc = $('#locationList').val();
            $('#deviceLocation').val(loc);
        });

        //Bind product dropdownlist
        $("#typeList").change(function () {
            var typeId = $("#typeList").val();
            var url = "/EndUser/GetProducts";

            $.getJSON(url, { deviceType: typeId }, function (data) {
                var item = "";
                $("#deviceList").empty();
                $.each(data, function (i, p) {
                    item += '<option value="' + p.value + '">' + p.text + '</option>'
                });
                $("#deviceList").html(item);
            });
        });

        $('#locationList').change(function () {
            $('#locationForm').submit();
        });

    </script>
}

